<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
	
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Web Development Company | Web Developer in Netherlands</title>

<meta name="description" content="Web Design Company - BIGLYFT offers professional Web Design services in Netherlands.We are experienced and trusted Website Developer,Web Designer,Magento Developer,php Developer,Wordpress Developer,Python Developer at affordable rates.">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
<meta name="keywords" content="Web Design Agency, Website Design company in Amsterdam, Web Design company,eCommerce Website Design company, Web Development company, Web Developer,Magento Developer,Web Application Development,php Developer,eCommerce Development,eCommerce Website Design company,Web Design">

<link type="images/favicon" href="images/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="css/index_styles2.css" media="all">
<link rel="stylesheet" href="css/font-awesome.min.css" media="all">
<link rel="stylesheet" href="css/custom.css" media="all" type="text/css">

<script type="text/javascript" src="js/js-particleslider.js"></script>
<script type="text/javascript" src="js/scripts.js"></script>
<link rel="stylesheet" href="queryLoader.css" type="text/css">
<script type="text/javascript" src="queryLoader.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<link rel="stylesheet" href="css/jquery.fatNav.min.css">

<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
	window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
		d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
			_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
			$.src="https://v2.zopim.com/?4ntf2UzC0P663qAShvC1UWapjtIAUkpl";z.t=+new Date;$.
			type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
		<!--End of Zendesk Chat Script-->
		<script type="text/javascript" src="js/modernizr-2.5.3.js"></script>
		<script type="text/javascript">window.MetroJsVersion = '0.9.77';</script>
		<script>
			$( document ).ready(function() {
				$('#en').addClass('active');
			});
			function check_height()
			{
				window_height=$(window).height();
				$('#landing').css('height',window_height);
			}
			
			window.setInterval(function()
			{
				check_height();
			}, 10);
		</script>

		<div id="header">
			<div class="header custom_header" data-position="fixed" >
				<style>
				.clicked{ 
					color: #f37025 !important;
				}
			</style>
			<ul class="header_ul">
				<li>
					<span>
						<i class="fa fa-phone-square"></i> 06 4410 1988
					</span>
				</li>
			</ul>
			<div class="logo_center">
				<span onClick="go_on('/')">
					<img src="images/top_logo_sticky.png" alt="top-logo-sticky">
				</span>
			</div>
		</div>
	</div>
	<div class="callbackbtn">
		<a href="tel: +31 6 4410 1988"><i class="fa fa-phone"></i></a>
	</div>
	<div class="mobile_header"></div>


	<!-- Google Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-72356531-1', 'auto');
		ga('send', 'pageview');
	</script>	

</head>

<body class="loaded" data-ng-app="teamgeek" data-ng-class="{ loaded: appLoaded }" data-ng-strict-di="">
	<div class="relative_scroll" onscroll="myFunction()">
		<div class="fat-nav" >
			<div class="fat-nav__wrapper" id="menu_outer">
				<ul>
					<li class = "menu_logo">
						<span onClick="go_on('/')">
							<img src="images/top_logo.png" alt="top-logo">
						</span>
					</li>
					<li><span onClick="go_on('/')">HOME</span></li>
					<li><span onClick="go_on('work.html')">WORK</span></li>
					<li><span onClick="go_on('services.html')">SERVICES</span></li>
					<li><span onClick="go_on('people.html')">PEOPLE</span></li>
					<li><span onClick="go_on('contact.html')">CONTACT</span></li>
				</ul>
			</div>
			<div class="social-links">
				<div class="all_social_links">
					<a class="social-link facebook" target="_blank" href="https://www.facebook.com/BigLyft"></a>
					<a class="social-link twitter" target="_blank" href="https://twitter.com/BigLyft"></a>
				</div>
			</div>
			<div class="footer">
				<p>© 2018 BIGLYFT | KvK Amsterdam - 61529761</p>
			</div>
		</div>
	</div>

	<div id="main" >
		<div id="something">
			<ng-transclude>
				<aside>
					<div data-is-collapsed="true" class="navbar collapsed" data-ng-class="{ 'collapsed': collapsed }">
						<div class="content">
							<div class="content-inner">
								<div id="mobile-nav"></div>
							</div>
						</div>
					</div>
				</aside>
				<div id="resizable-container">
					<section id="landing">
						<p></p>
						<div class="a">
							<div class="mobile_logo">
								<img src="images/logo.png" alt="logo">
							</div>
							<div class="homepage_logo">
								<img id="logo" class="next-particle homepage_logo_images" data-gravity="0.09" data-particle-gap="1" data-mouse-force="120"  data-init-position="random" data-init-direction="random" data-fade-position="random"
								data-fade-direction="random" data-noise="5" src="images/logo2.png" />
							</div>
						</div>
						<div class="scroll-icon"></div>
					</section>

					<div style="display:none;" id="second_block">
						<section id="clients" class="custom_clients" data-tg-scroll-section="" >
							<div class="container-fluid full text-center">
								<div class="c">
									<p>&nbsp;</p>
									<div class="row">
										<div class="col-xs-12">
											<img src="images/what-we-do.png" alt="what-we-do-icon" class="img-responsive">
											<p>&nbsp;</p>
											<p class ="title_description">We specialize in Web Application Development, Web Design, Webshop & eCommerce Development or any kind of Software Development for the Web World. </p>

											<p>We are very particular about Quality Coding and all our work are Modern and made for all devices PC, Tablets and Mobile. Our web developer can help you build your dream web project for you.</p>
											<p class ="title_description2">
												Call us at
												<a href="callto:+31644101988">06 4410 1988</a>
												<br> or mail us at <a href="mailto:hello@biglyft.com">hello@biglyft.com</a>
												<br>
												<p class = "title_description3">Let's create something amazing.</p>
											</p>    
										</div>
									</div>
									<p>&nbsp;</p>
									<div class="row">
										<section id="liveTileBasicExample" class="live-tile-basic-example">
											<div class="demo blue tile-group five-wide float-none">
												<div class="col-sm-4 no-gutter">
													<div class="client-logo">
														<div class="logo-face">
															<img class="full" src="images/1.png" alt="12">
														</div>
													</div>
												</div>
												<div class="col-sm-4 no-gutter">
													<div class="client-logo">
														<div class="logo-face">
															<img class="full" src="images/2.png" alt="12">
														</div>
													</div>
												</div>
												<div class="col-sm-4 no-gutter">
													<div class="client-logo">
														<div class="logo-face">
															<img class="full" src="images/3.png" alt="12">
														</div>
													</div>
												</div>
												<div class="col-sm-4 no-gutter">
													<div class="client-logo">
														<div class="logo-face">
															<img class="full" src="images/4.png" alt="12">
														</div>
													</div>
												</div>
												<div class="col-sm-4 no-gutter">
													<div class="client-logo">
														<div class="logo-face">
															<img class="full" src="images/5.png" alt="12">
														</div>
													</div>
												</div>
												<div class="col-sm-4 no-gutter">
													<div class="client-logo">
														<div class="logo-face">
															<img class="full" src="images/6.png" alt="12">
														</div>
													</div>
												</div>
												<div class="col-sm-4 no-gutter">
													<div class="client-logo">
														<div class="logo-face">
															<img class="full" src="images/7.png" alt="12">
														</div>
													</div>
												</div>
												<div class="col-sm-4 no-gutter">
													<div class="client-logo">
														<div class="logo-face">
															<img class="full" src="images/8.png" alt="12">
														</div>
													</div>
												</div>
												<div class="col-sm-4 no-gutter">
													<div class="client-logo">
														<div class="logo-face">
															<img class="full" src="images/9.png" alt="12">
														</div>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
								<div class="container-fluid" style="background:red>
								<p ;width:100%">&nbsp;</p>
								</div>
								<div class="b">
									<div id="showcase" data-tg-scroll-section="">
										<div class="container-fluid full" >
											<div class="row">					
												<div class="col-sm-4 no-gutter">
													<a data-logo-src="images/mycoat_logo.png" data-bg-src="images/mycoat-bg.jpg" href="project_mycoat.html" data-overlay-src="images/read-more.png" class="project">
														<!-- ngIf: bgSrc -->
														<img src="images/mycoat-bg.jpg" alt="mycoat-bg" class="background" data-ng-if="bgSrc" data-ng-src="images/mycoat-bg.jpg">
														<!-- end ngIf: bgSrc -->
														<!-- ngIf: bgSrc -->
														<img src="images/mycoat-bg.jpg" alt="mycoat-bg" class="zoom-background" data-ng-if="bgSrc" data-ng-src="images/mycoat-bg.jpg" data-ng-show="hoverState == 'zoom'">
														<!-- end ngIf: bgSrc -->
														<div class="content slide-up" data-ng-class="{ 'slide-up': overlaySrc }">
															<img src="images/mycoat_logo.png" alt="mycoat-logo" class="logo" data-ng-class="{fading: hoverState == 'fading'}" data-ng-src="images/mycoat_logo.png">
														</div>
														<!-- ngIf: overlaySrc -->
														<div class="hover-overlay" data-ng-if="overlaySrc">
															<img src="images/read-more.png" alt="read-more-btn" data-ng-src="images/read-more.png">
														</div>
														<!-- end ngIf: overlaySrc -->
													</a>
												</div>

												<div class="col-sm-4 no-gutter">
													<a data-logo-src="images/packright_logo.png" data-bg-src="images/packright-bg.jpg" href="project_packright.html" data-overlay-src="images/read-more.png" class="project">
														<!-- ngIf: bgSrc -->
														<img src="images/packright-bg.jpg" alt="packright-bg" class="background" data-ng-if="bgSrc" data-ng-src="images/packright-bg.jpg">
														<!-- end ngIf: bgSrc -->
														<!-- ngIf: bgSrc -->
														<img src="images/packright-bg.jpg" alt="packright-bg" class="zoom-background" data-ng-if="bgSrc" data-ng-src="images/packright-bg.jpg" data-ng-show="hoverState == 'zoom'">
														<!-- end ngIf: bgSrc -->
														<div class="content slide-up" data-ng-class="{ 'slide-up': overlaySrc }">
															<img src="images/packright_logo.png" alt="packright_logo" class="logo" data-ng-class="{fading: hoverState == 'fading'}" data-ng-src="images/packright-bg.jpg">
														</div>
														<!-- ngIf: overlaySrc -->
														<div class="hover-overlay" data-ng-if="overlaySrc">
															<img src="images/read-more.png" alt="read-more-btn" data-ng-src="images/read-more.png">
														</div>
														<!-- end ngIf: overlaySrc -->
													</a>
												</div>

												<div class="col-sm-4 no-gutter" id="last_image">
													<a data-logo-src="images/get-started.png" data-bg-src="images/black-bg.jpg" data-hover-state="fading" href="contact.html" class="project">
														<!-- ngIf: bgSrc -->
														<img src="images/black-bg.jpg" alt="black-bg" class="background" data-ng-if="bgSrc" data-ng-src="images/black-bg.jpg">
														<!-- end ngIf: bgSrc -->
														<!-- ngIf: bgSrc -->
														<img src="images/black-bg.jpg" alt="black-bg" class="zoom-background ng-hide" data-ng-if="bgSrc" data-ng-src="images/black-bg.jpg" data-ng-show="hoverState == 'zoom'">
														<!-- end ngIf: bgSrc -->
														<div class="content" data-ng-class="{ 'slide-up': overlaySrc }">
															<img src="images/get-started.png" alt="get-started" class="logo fading" data-ng-class="{fading: hoverState == 'fading'}" data-ng-src="images/landing/get-started.png">
														</div>
														<!-- ngIf: overlaySrc -->
													</a>
												</div>						                            
											</div>
										</div>
									</div>
								</div>

								<section class = "home_services" id="services" >
									<script>
										var prev_class=1;
										function abc(a)
										{
											if(a!=prev_class)
											{
												var li_siblings=document.getElementById("tab"+a);
												var li_prev=document.getElementById("tab"+prev_class);
												var tab_content=document.getElementById("tab_content"+a);
												var tab_content_prev=document.getElementById("tab_content"+prev_class);
												
												tab_content.className='tab-pane active';
												tab_content_prev.className='tab-pane';
												li_prev.className="";
												li_siblings.className = "active";
												prev_class=a;
											}
										}
									</script>
									<div justified="true" class="service-tabs">
										<ul id="asd" class="nav nav-tabs nav-justified" ng-class="{'nav-stacked': vertical, 'nav-justified': justified}" ng-transclude="">

											<li id="tab1" class="active" ng-class="{active: active, disabled: disabled}">
												<a href="javascript:abc('1')" ng-click="select()" tab-heading-transclude="">
													<tab-heading data-tg-scroll-to-content="">
														<i class="tg-icon-2 ruler hidden-xs"></i>
														<span class="title">Webshop</span>
													</tab-heading>
												</a>
											</li>

											<li id="tab5" class="" ng-class="{active: active, disabled: disabled}">
												<a href="javascript:abc('5')" ng-click="select()" tab-heading-transclude="">
													<tab-heading data-tg-scroll-to-content="">
														<i class="tg-icon-2 spanner hidden-xs"></i>
														<span class="title">Websites</span>
													</tab-heading>
												</a>
											</li>

											<li id="tab4" class="" ng-class="{active: active, disabled: disabled}">
												<a href="javascript:abc('4')" ng-click="select()" tab-heading-transclude="">
													<tab-heading data-tg-scroll-to-content="">

														<i class="tg-icon-2 speech-bubble hidden-xs"></i>
														<span class="title">Web Development</span>
													</tab-heading>
												</a>

											</li>

										</ul>
										<div class="tab-content">
											<!-- ngRepeat: tab in tabs -->
											<div id="tab_content1" class="tab-pane active" ng-repeat="tab in tabs" ng-class="{active: tab.active}" tab-content-transclude="tab">
												<div class="container-fluid service">
													<div class="row">
														<div class="col-sm-5 hidden-xs">
															<div class="icon">
																<img src="images/ecom-icon.png" alt="ecom-icon" class="img-responsive">
															</div>
														</div>
														<div class="col-sm-5">
															<div class="description">
																<h1>Webshop</h1>
																<p">Our customized Online Webshops boost sales and profit margins and obtain new customers you wouldn’t otherwise have had.</p>
																<p>We build fully functional eCommerce Development with customized design, order processing, content management, shopping cart, easy-to-use checkout, customer login, Promotion and discount code tools.
																</p>
																<p>We can integrate PayPal, Credit/Debit Card, iDeal, Skrill or any other payment methods.</p>

															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- end ngRepeat: tab in tabs -->
											<div id="tab_content5" class="tab-pane" ng-repeat="tab in tabs" ng-class="{active: tab.active}" tab-content-transclude="tab">
												<div class="container-fluid service">
													<div class="row">
														<div class="col-sm-5 hidden-xs">
															<div class="icon">
																<img src="images/webdesign-icon.png" alt="webdesign-icon" class="img-responsive">
															</div>
														</div>
														<div class="col-sm-5">
															<div class="description">
																<h1>Website Design</h1>
																<p>Conception, Creation and Web Design that look good in any device.
																</p>
																<p>Websites and Web Portal are the main platforms for communication in the digital age. That is why we combine cutting-edge technology with innovative design and custom made concepts for our cients. We cover the entire range of services from Consulting to concept and creation to technical implementation & support. We rely on the most powerful tools, especially WordPress Developer, Joomla, Magento Developer, Typo3 as well as various other CMS systems.
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>


											<!-- end ngRepeat: tab in tabs -->
											<div id="tab_content4" class="tab-pane" ng-repeat="tab in tabs" ng-class="{active: tab.active}" tab-content-transclude="tab">
												<div class="container-fluid service">
													<div class="row">
														<div class="col-sm-5 hidden-xs">
															<div class="icon">
																<img src="images/webdev-icon.png" alt="webdev-icon" class="img-responsive">
															</div>
														</div>
														<div class="col-sm-5">
															<div class="description">
																<h1>Web Development</h1>
																<p>Our Web Developer use latest techniques and trusted technologies for Web Development.</p>
																<p>
																We love programming, be it Backend development with Core PHP developer, PHP with LARAVEL & CodeIgniter, Python Developer OR Frontend Development using HTML, CSS, Javascript, JQuery, Node.js, Angular JavaScript.</p>
																<p>We can create a Simple or Complex Web Application Development and Website Design that works great in any device. We can build Billing system, Tracking & CRM, Web Portal, Ticketing system, Order Processing or Inventory management or any kind of customized tool.
																</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<!-- end ngRepeat: tab in tabs -->
										</div>
									</div>
								</section>
								<p>&nbsp;</p>
								<p>&nbsp;</p>
								<p>&nbsp;</p>

									<!--
									
		                            <div class="row our_process">
		                                <div class="col-xs-12">
		                                    <img src="images/process.png" alt="process-icon" class="img-responsive">
		                                    <p>&nbsp;</p>
		                                    <p class = "title_description">
		                                        We follow AGILE methodology that delivers increased value, visibility, and adaptability, significantly reducing project risk ensuring innovation and faster delivery.
		                                    </p>
		                                    <p>
		                                        Throughout the project life cycle we involve - Continuous cycles, - Small, high-functioning, Collaborative teams, - Flexible continuous evolution and Customer involvement.
		                                    </p>
		                                </div>
		                            </div>
		                            <div class="d">
		                                <div class="row">
		                                    <div class="col-sm-4 no-gutter">
		                                        <div class="stat">
		                                            <img src="images/stat1-1.png" alt="stat1-1" class="img-responsive">
		                                            <img src="images/stat1-2.png" alt="stat1-2" class="img-responsive overlay">
		                                        </div>
		                                    </div>
		                                    <div class="col-sm-4 no-gutter">
		                                        <div class="stat">
		                                            <img src="images/stat2-1.png" alt="stat2-1" class="img-responsive">
		                                            <img src="images/stat2-2.png" alt="stat2-2" class="img-responsive overlay">
		                                        </div>
		                                    </div>
		                                    <div class="col-sm-4 no-gutter">
		                                        <div class="stat">
		                                            <img src="images/stat3-1.png" alt="stat3-1" class="img-responsive">
		                                            <img src="images/stat3-2.png" alt="stat3-2" class="img-responsive overlay">
		                                        </div>
		                                    </div>
		                                </div>
		                            </div>
									
		                        -->

		                        <div class="d">
		                        	<div class="row">
		                        		<div class="col-xs-12 no-gutter">
		                        			<div class="stat2 dblock">
		                        				<img src="images/footer_amsterdam_solid.png" alt="footer-ams-solid" class="img-responsive">
		                        				<img src="images/footer_amsterdam.png" alt="foooter-ams" class="img-responsive overlay">
		                        			</div>
		                        			<div class="stat2 dhidden">
		                        				<img src="images/footer_amsterdam_solid_mob.png" alt="footer-ams-solid-mob" class="img-responsive">
		                        				<img src="images/footer_amsterdam_mob.png" alt="footer-ams-mob" class="img-responsive overlay">
		                        			</div>
		                        			<p>&nbsp;</p>
		                        			<div class="address_line">
		                        				<h4 class="address_line h4">- BIGLYFT -<br>
		                        					Herikerbergweg 292, 1101 CT,<br>
		                        					Amsterdam-Zuidoost, Netherlands.<br>06 4410 1988 /  HELLO@BIGLYFT.COM
		                        				</h4>
		                        				<br>
		                        			</div>
		                        			<p>&nbsp;</p>
		                        			<div class="social-links">
		                        				<div class="all_social_links">
		                        					<a class="social-link facebook" target="_blank" href="https://www.facebook.com/BigLyft"></a>
		                        					<a class="social-link twitter" target="_blank" href="https://twitter.com/BigLyft"></a>

		                        				</div>
		                        			</div>
		                        			<!--footer-->
		                        			<div class="footerdiv">
		                        				<ul class="footerul">				
		                        					<li class="footerli">© 2018 BIGLYFT </li>
		                        					<li class="footerli"> | </li>
		                        					<li class="footerli" ><span onClick="window.open('terms.html', '_blank')">Terms</span></li>
		                        				</ul>
		                        			</div>	
		                        		</div>
		                        	</div>
		                        </div>
		                    </div>
		                </section>
		            </div>
		        </div>
		    </ng-transclude>
		</div>
	</div>

	<!--Code by ITR-->
	<script>
		$(document).ready(function(){ 
			var mq = window.matchMedia( "(min-width: 768px)" );
			$(window).on("scroll", function() 
			{  
				if (mq.matches) {	 
					$('#header').css('display','block');
					$('.logo_left').css('display','block');
				}
				if(jQuery(document).scrollTop()==0){
					$('#header').css('display','none');
					$('.logo_left').css('display','none');	
				}
			});
		});
		
		function go_on(link_data){       
			window.location=link_data;
		}
		$(document).ready(function(e) 
		{


			var browserName;

	    //   alert(browserName);
	    if(browserName =='Microsoft Internet Explorer' || browserName =='Netscape' ){
	    	$('section#landing #particle-slider').css('display','none');
	    	$('.slide2 img').css('display','none');
	    	window_height=$(window).height();
	    	window_width=$(window).width();
	    	window_height=window_height-70;
	    	$('.slide2 img').css('height',window_height);
	    	$('.slide2 img').css('width','60%');
	    	$('.slide2 img').css('margin','0 auto');


	    }



	    if(browserName =='Safari')
				{  //alert('test');
	                //  alert(window_height);
	                  //alert(window_width);
	                  window_height=$(window).height();
	                  window_width=$(window).width();
	                  window_height=window_height-70;

	                  $('.slide2 img').css('display','block');
	if(window_width > 500 ){// alert('test');
	$('.slide2 img').css('height',window_height);
	$('.slide2 img').css('width','60%');}
	//if(window_width == 320){ $('.slide2 img').css('width','100%');}

	$('.slide2').css('text-align','center');
	$('.slide2 img').css('margin-top',30);
	$('.slide2 img').css('margin-right','auto');
	$('.slide2 img').css('margin-left','auto');

	$('.slide2 img').css('margin-bottom','0');
	                             // $('.slide2 img').css('margin','0 auto');
	                           // $('section#landing #particle-slider').css('display','none');
	//alert('test');
	$('.headerli').css('line-height','1');
	$('.slide-up').css('top','-110px');
	$( ".project" ).hover(
		function() 
		{
						//alert('one');
						$(".hover-overlay").hide();
						$(this).find(".slide-up").hide();				
						$(this).find(".hover-overlay").show();				
						$(this).find(".hover-overlay").css("top","-110px");				
					},function() 
					{
						//alert('one');
						$(".hover-overlay").hide();
						$(".slide-up").show();
					}
					);
	$("#last_image .content img").css('width','100%');
	$("#last_image .content img").css('height','65%');
}
$("body").keyup(function (e) 
{
	if(e.which==122)
	{
		window_height=$(window).height();
						// $('#landing').css('height',window_height); 
					}
				});
});
			// $('#landing').css('height',window.screen.availHeight+30);
		</script>
		<!--Code by ITR-->			
		<script>
			window_height=$(window).height();
			window_width=$(window).width();
	  		//t          alert(window_height);
			//alert(window_width);
			var  margin_left;
			if(window_width == 1024){
				margin_left= -12.5;
			}
			                        if(window_width == 1024 && window_height == 768){ //alert(window_height);
			                        	margin_left= -101;
			                        }
			if(window_width == 1024 && window_height == 748){ //alert(window_height);
				margin_left= -84;
			}
			if(window_width == 1024 && window_height == 790){ //alert(window_height);
				margin_left= -101;
			}
			if(window_width == 1708 && window_height == 960){ //alert(window_height);
				margin_left= -419;
			}
			if(window_width == 1280){
				margin_left=-148;
			}

			//alert(window_width);alert(window_height);
			if(window_width == 640  || window_height == 480){
			//alert ('test');
			$('.slide2 img').css('height',420);
			$('.slide2 img').css('width',440);
			$('.slide2 img').css('margin','0 auto');
		}
			if(window_width == 1280  && window_height == 1024){
				margin_left=-388;
			}
			if(window_width == 1366){
				margin_left=-133;
			}
			if(window_width == 1366 && window_height == 643 || window_height == 658){
				margin_left=0;
			}
			if(window_width == 1366 && window_height == 658){
				margin_left=-20;
			}
			if(window_width == 1366 && window_height == 673){
				margin_left=-40;
			}
			if(window_width == 1366 && window_height == 622){
				margin_left=0;
			}
			if(window_width == 1440){
				margin_left=-292;
			}
			if(window_width == 1600){
				margin_left=-326;
			}
			if(window_width == 1600 && window_height == 2560){
				margin_left=-708;
			}
			if(window_width == 1280 && window_height == 720){
				margin_left=-78;
			}
			if(window_width == 1680){
				margin_left=-543;
			}
			if(window_width == 1920){
				margin_left=-667;
			}
			if(window_width == 1920 && window_height == 1200){
				margin_left=-855;
			}
			if(window_width == 1536 && window_height == 2048){
				margin_left=-750;
			}

			//alert(window_height);
	                //alert(window_width);
	                if(window_width >= 1366 && window_height >= 700){

	                	$('.slide').attr('data-src','images/highlogo.png');
	                }
	                if(window_width == 1536 && window_height == 2048){

	                	$('.draw').css('width',3000);
	                }
	                if(window_width == 1600 && window_height == 2560){

	                	$('.draw').css('width',3088);
	                }
	                window_height=window_height-13;


	                $('.draw').css('margin-left',margin_left);
	                $('.draw').css('height',window_height);

	                QueryLoader.selectorPreload = "body";
	                QueryLoader.init();
	                $('.QOverlay').css('visibility','hidden');
	                var mq = window.matchMedia( "(min-width: 500px)" );
	                $("#second_block").show();
	                $("#landing").addClass("itr1");
	                if (!mq.matches) {
	                	$('.QOverlay').css('visibility','hidden');
	                }

	                function test()
	                {
	                	style=$(".QOverlay").css("display");
	                	if(style=='none')
	                	{
	                		return false;
	                	}	
	                }
	                window.setInterval(function()
	                {
	                	test();
	                }, 1);
	    </script> 
	            <!-- <script src="js/jquery-1.11.1.min.js"></script> -->
	            <script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
	            <script src="js/metrojs.js" type="text/javascript"></script>
	            <script type="text/javascript">
	            	var metroJs,
	            	appBar;
	        		// remove the default theme set for noscript and apply user theme
	        		$(document).ready(function () {
	        			$("body,.tiles").removeClass("dark blue");
	        			metroJs = jQuery.fn.metrojs;
	        			metroJs.theme.loadDefaultTheme();
	        		});
	        	</script>
	    <script src="js/syntaxhighlighter.xj.min.js" type="text/javascript"></script>    
	    <script type="text/javascript" src="js/sortlist.js"></script>
	    <script type="text/javascript">
	    	$(document).ready(function () {
	    		window.bindAppBarKeyboard = false;
	            //enable accented border on nav
	            $(".about nav").find("li>a").addClass("accentBorder accentHover");
	            // enable syntax highlighter for code tags
	            SyntaxHighlighter.config.tagName = "code";
	            SyntaxHighlighter.all();
	            // live tiles in about and Basic Example sections
	            $(".about,.demo").find(".live-tile,.flip-list").not(".exclude").liveTile();
	            // sort options based on sort property or name
	            $("#sortLiveTileOptions").change(function () {
	            	var val = $(this).val();
	            	_gaq.push(['_trackEvent', 'MetroJs', 'Sorted', val]);
	            	$(".options").each(function (idx, ul) {
	            		var $li = $(ul).find('li')
	            		if (val === "alpha") {
	            			$li.sortElements(function (a, b) {
	            				return $(a).find(".name>.value").text() > $(b).find(".name>.value").text() ? 1 : -1;
	            			});
	            		} else if (val === "type") {
	            			$li.sortElements(function (a, b) {
	            				return $(a).find(".type>.value").text() > $(b).find(".type>.value").text() ? 1 : -1;
	            			});
	            		} else {
	            			$li.sortElements(function (a, b) {
	            				return parseFloat($(a).find(".sort").val()) > parseFloat($(b).find(".sort").val()) ? 1 : -1;
	            			});
	            		}
	            	});
	            });
	            // show or hide options based on drop down selection
	            $("#filterLiveTileOptions").change(function () {                
	            	var val = $(this).val();
	                if (val === "flip") // make sure flip-list options don't come back for flip mode
	                	val = "flip$|flip,";
	                var regex = new RegExp("all|" + val, "i"),
	                $opts = $("#liveTileOptions,#liveTileMethods").find(".option");
	                _gaq.push(['_trackEvent', 'MetroJs', 'Filtered', val]);
	                if (val === "all") {
	                	$opts.show();
	                	$("#liveTileOptions,").find(".count").text("Showing " + $opts.length + " options");
	                } else {
	                	var count = 0;                    
	                	$opts.each(function (idx, ele) {
	                		var $head = $(this).find(".name");
	                		if ($head.data("modes").match(regex) != null) {
	                			$(this).show();
	                			count++;
	                		} else
	                		$(this).hide();
	                	});
	                	$("#liveTileOptions").find(".count").text("Showing " + count + " options");
	                }
	            });
	            // expand or collapse option on click
	            $(".option").addClass("accentBorderLeft").each(function (idx, ele) {
	            	var $parent = $(ele),
	            	$cont = $parent.find(">.content"),
	            	$link = $cont.find(">.expand"),
	            	$handles = $cont.find(">.expand,>.name,>.data-attribute,>.type").css({ cursor: 'pointer' }),
	            	oName = $cont.find(">.name>.value").text();
	            	$cont.hover(function () {
	            		$handles.addClass("accentColor");
	            	}, function () {
	            		$handles.removeClass("accentColor");
	            	});
	            	$handles.bind("click", function () {
	            		var isCollapsed = $link.hasClass("collapsed"),
	            		oHeight;
	            		$link.toggleClass("collapsed");
	            		if (isCollapsed){
	            			if(typeof($parent.oHeight) === "undefined"){
	            				oHeight = 0;
	            				$parent.find(">.content").find(">.name,>.description,>.modes,>.options,>.example,>.default-value").each(function(){
	            					oHeight += $(this).outerHeight();
	            				});
	                            //oHeight = $parent.find(">.content").outerHeight(true);
	                            $parent.oHeight = oHeight;
	                        }else{
	                        	oHeight = $parent.oHeight;
	                        }
	                        $parent.css({ height: oHeight });
	                        _gaq.push(['_trackEvent', 'Options', 'Expand', oName]);
	                    }else{
	                    	$parent.css({ height: '20px' });
	                    	_gaq.push(['_trackEvent', 'Options', 'Collapse', oName]);
	                    }
	                    $link.toggleClass('expanded');
	                });
	            });

	            //fiddle around 
	            var cb = Math.random() * 123456;
	            $(".fiddleNav>ul>li a").click(function () {
	            	var url = $(this).attr("rel") + '?version=' + window.MetroJsVersion;
	            	var src = $("#fiddlerFrame").attr("src");
	            	var fName = $(this).text();
	            	if (src != url) {
	            		if (typeof ($(this).data("height")) === "undefined")
	            			$("#fiddlerFrame").height("300px");
	            		else
	            			$("#fiddlerFrame").height($(this).data("height"));
	            		$("#fiddlerFrame").attr("src", url);
	            		$("#fiddlerFrame").show();
	            		_gaq.push(['_trackEvent', 'Fiddles', 'Opened', fName]);
	            		_gaq.push(['_trackPageView', '/samples/metrojs/' + url]);
	            	} else {
	            		if ($(this).is(":visible")) {
	            			$("#fiddlerFrame").slideUp(function () {
	            				$("#fiddlerFrame").attr("src", '#' + url);
	            			});
	            		}
	            	}
	            });
	            // show a fiddle by id or index
	            function handleHashChange() {
	            	var  match = /fiddle_(.+)/.exec(window.location.hash);
	            	if (match != null && match.length > 0) {
	            		document.getElementById("fiddleAround").scrollIntoView();
	            		_gaq.push(['_trackEvent', 'Fiddles', 'LoadById', match[1]]);
	            		$(".fiddleNav>ul>li").find('#' + match[1]).click();
	            	} else {
	            		match = /fiddle([0-9][0-9]?)/.exec(window.location.hash);
	            		if (match != null && match.length > 0) {
	            			document.getElementById("fiddleAround").scrollIntoView();
	            			_gaq.push(['_trackEvent', 'Fiddles', 'LoadByIndex', match[1]]);
	            			$(".fiddleNav>ul>li a").eq(match[1]).click();
	            		} 
	            	}
	            }
	            handleHashChange();
	            $(window).bind('hashchange', function () {
	            	handleHashChange();
	            });
	            // handle download options
	            $(".download-options input").change(function () {
	            	var lt = $("input#LiveTile").is(":checked"),
	            	th = $("input#Themes").is(":checked"),
	            	ab = $("input#AppBar").is(":checked"),
	            	version = window.MetroJsVersion,
	            	path = "/content/releases/metrojs/" + version + "/",
	            	url = "metrojs.Full." + version + ".zip",
	            	modules = "All Modules";
	            	if (lt && th && ab) {
	                    // all  
	                } else if (lt && th) {
	                	url = "metrojs.LiveTilesAndThemes." + version + ".zip";
	                	modules = ".liveTile, .theme";
	                } else if (lt && ab) {
	                	url = "metrojs.LiveTilesAndAppBar." + version + ".zip";
	                	modules = ".liveTile, .applicationBar";
	                } else if (ab && th) {
	                	url = "metrojs.AppBarAndThemes." + version + ".zip"
	                	modules = ".theme, .applicationBar";
	                } else if (lt) {
	                	url = "metrojs.LiveTiles." + version + ".zip";
	                	modules = ".liveTile";
	                } else if (th) {
	                	url = "metrojs.Themes." + version + ".zip";
	                	modules = ".theme";
	                } else if (ab) {
	                	url = "metrojs.AppBar." + version + ".zip";
	                	modules = ".applicationBar";
	                }
	                _gaq.push(['_trackEvent', 'MetroJs', 'Picked', url]);
	                $("#downloadBtn").attr("href", path + url);
	                $("#downloadBtn .modules").text(modules);
	            });
		    // enable disqus
		    var disqus_developer = 1;
		    var disqus_url = 'http://drewgreenwell.com/projects/metrojs';
		    var disqus_title = 'Drew Greenwell Metro JS';
		    var disqus_identifier = '/projects/metrojs';
		    var disqus_shortname = 'drewgreenwell';
		    try {
		    	(function () {
		    		var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		            // dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
		            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		        })();
		    } catch (err) {

		    }
		    (function () {
		    	function filterPath(string) {
		    		return string
		    		.replace(/^\//, '')
		    		.replace(/(index|default).[a-zA-Z]{3,4}$/, '')
		    		.replace(/\/$/, '');
		    	}
		    	var locationPath = filterPath(location.pathname);
		    	var scrollElem = scrollableElement('html', 'body');

		    	$("#pageNav,section:not(#liveTileOptions)").find("a[href^=#]").each(function () {
		    		var thisPath = filterPath(this.pathname) || locationPath;
		    		if (locationPath == thisPath
		    			&& (location.hostname == this.hostname || !this.hostname)
		    			&& this.hash.replace(/#/, '')) {
		    			var $target = $(this.hash), target = this.hash;
		    		if (target && $target.length > 0) {
		    			var targetOffset = $target.offset().top;
		    			$(this).click(function (event) {
		    				event.preventDefault();
		    				$(scrollElem).animate({ scrollTop: targetOffset }, 400, function () {
		    					location.hash = target;
		    				});
		    			});
		    		}
		    	}
		    });

	        		// use the first element that is "scrollable"
	        		function scrollableElement(els) {
	        			for (var i = 0, argLength = arguments.length; i < argLength; i++) {
	        				var el = arguments[i],
	        				$scrollElement = $(el);
	        				if ($scrollElement.scrollTop() > 0) {
	        					return el;
	        				} else {
	        					$scrollElement.scrollTop(1);
	        					var isScrollable = $scrollElement.scrollTop() > 0;
	        					$scrollElement.scrollTop(0);
	        					if (isScrollable) {
	        						return el;
	        					}
	        				}
	        			}
	        			return [];
	        		}
	        	})();
	        });
	    </script>
	    <script type="text/javascript">        

	    	$(document).ready(function () {
	    		var doBind = (typeof (window.bindAppBarKeyboard) === "undefined" || window.bindAppBarKeyboard);
	            // create the app bar
	            appBar = $(".appbar").applicationBar({
		    	applyTheme: false, // apply theme example below
	                preloadAltBaseTheme: true, // load both sets of images so there isn't a flicker when base theme is changed
	                metroLightUrl: '/images/metroIcons_light.jpg',
	                metroDarkUrl: '/images/metroIcons.jpg',
	                bindKeyboard: doBind // bind the keyboard unless specified in an included script
	            });
	            // add the accents and base colors to the appbar
	            metroJs.theme.appendAccentColors();
	            metroJs.theme.appendBaseThemes();
	        });


	    </script>
	    <script>

	    	var item = document.getElementsByClassName("demo blue tile-group five-wide float-none")[0];
	    	var createImageSource;
	    	var elementDiv = [4, 5, 1, 3, 6, 2];
	    	var i = '';
	    	count = 0;
	    	var flag1 = 0;
	    	var flag2 = 0;
	    	var flag3 = 0;
	    	var flag4 = 0;
	    	var flag5 = 0;
	    	var flag6 = 0;

	    	setInterval(function() {

	    		if (flag1 == 0) {


	    			do {
	    				var pickRandomImage = Math.floor((Math.random() * 7) + 1);

	    				if (elementDiv.indexOf(pickRandomImage) == -1) {

	    					elementDiv[0] = pickRandomImage;


	    					count++;


	    				}

	    			}
	    			while (count != 1);
	    			count = 0;




	    			createImageSource = "images/" + pickRandomImage + ".png";

	    			var elmnt = document.createElement("div");

	    			var x = document.createElement("IMG");
	    			x.setAttribute("src", createImageSource);
	    			x.setAttribute("class", 'full');
	    			elmnt.appendChild(x);
	    			var list = item.getElementsByClassName("red live-tile flip ha")[0];

	    			var list_out = list.getElementsByClassName("flip-back ha")[0];



	    			list.setAttribute("data-mode", "flip");
	    			list_out.replaceChild(elmnt, list_out.childNodes[0]);

	    			flag1 = 1;
	    			createImageSource = '';
	    		} else {
	    			do {
	    				var pickRandomImage = Math.floor((Math.random() * 7) + 1);

	    				if (elementDiv.indexOf(pickRandomImage) == -1) {

	    					elementDiv[0] = pickRandomImage;
	    					count++;


	    				}

	    			}
	    			while (count != 1);
	    			count = 0;

	    			createImageSource = "images/" + pickRandomImage + ".png";

	    			var elmnt = document.createElement("div");

	    			var x = document.createElement("IMG");
	    			x.setAttribute("src", createImageSource);
	    			x.setAttribute("class", 'full');
	    			elmnt.appendChild(x);
	    			var list = item.getElementsByClassName("red live-tile flip ha")[0];

	    			var list_out = list.getElementsByClassName("flip-front ha")[0];



	    			list.setAttribute("data-mode", "flip");
	    			list_out.replaceChild(elmnt, list_out.childNodes[0]);



	    			flag1 = 0;
	    			createImageSource = '';
	    		}

	    	}, 7995);




	    	setInterval(function() {


	    		if (flag2 == 0) {
	    			do {
	    				var pickRandomImage = Math.floor((Math.random() * 7) + 1);

	    				if (elementDiv.indexOf(pickRandomImage) == -1) {

	    					elementDiv[1] = pickRandomImage;
	    					count++;


	    				}

	    			}
	    			while (count != 1);
	    			count = 0;

	    			createImageSource = "images/" + pickRandomImage + ".png";

	    			var elmnt = document.createElement("div");

	    			var x = document.createElement("IMG");
	    			x.setAttribute("src", createImageSource);
	    			x.setAttribute("class", 'full');
	    			elmnt.appendChild(x);
	    			var list = item.getElementsByClassName("red live-tile flip ha")[1];

	    			var list_out = list.getElementsByClassName("flip-back ha")[0];



	    			list.setAttribute("data-mode", "flip");
	    			list_out.replaceChild(elmnt, list_out.childNodes[0]);


	    			flag2 = 1;
	    			createImageSource = '';
	    		} else {
	    			do {
	    				var pickRandomImage = Math.floor((Math.random() * 7) + 1);

	    				if (elementDiv.indexOf(pickRandomImage) == -1) {

	    					elementDiv[1] = pickRandomImage;
	    					count++;


	    				}

	    			}
	    			while (count != 1);
	    			count = 0;


	    			createImageSource = "images/" + pickRandomImage + ".png";

	    			var elmnt = document.createElement("div");

	    			var x = document.createElement("IMG");
	    			x.setAttribute("src", createImageSource);
	    			x.setAttribute("class", 'full');
	    			elmnt.appendChild(x);
	    			var list = item.getElementsByClassName("red live-tile flip ha")[1];

	    			var list_out = list.getElementsByClassName("flip-front ha")[0];



	    			list.setAttribute("data-mode", "flip");
	    			list_out.replaceChild(elmnt, list_out.childNodes[0]);



	    			createImageSource = '';




	    			flag2 = 0;
	    		}


	    	}, 5995);



	    	setInterval(function() {


	    		if (flag3 == 0) {
	    			do {
	    				var pickRandomImage = Math.floor((Math.random() * 7) + 1);

	    				if (elementDiv.indexOf(pickRandomImage) == -1) {

	    					elementDiv[2] = pickRandomImage;
	    					count++;


	    				}

	    			}
	    			while (count != 1);
	    			count = 0;


	    			createImageSource = "images/" + pickRandomImage + ".png";

	    			var elmnt = document.createElement("div");

	    			var x = document.createElement("IMG");
	    			x.setAttribute("src", createImageSource);
	    			x.setAttribute("class", 'full');
	    			elmnt.appendChild(x);
	    			var list = item.getElementsByClassName("red live-tile flip ha")[2];

	    			var list_out = list.getElementsByClassName("flip-back ha")[0];

	    			list.setAttribute("data-mode", "flip");
	    			list_out.replaceChild(elmnt, list_out.childNodes[0]);

	    			flag3 = 1;
	    			createImageSource = '';
	    		} else {
	    			do {
	    				var pickRandomImage = Math.floor((Math.random() * 7) + 1);

	    				if (elementDiv.indexOf(pickRandomImage) == -1) {

	    					elementDiv[2] = pickRandomImage;
	    					count++;


	    				}

	    			}
	    			while (count != 1);
	    			count = 0;


	    			createImageSource = "images/" + pickRandomImage + ".png";

	    			var elmnt = document.createElement("div");

	    			var x = document.createElement("IMG");
	    			x.setAttribute("src", createImageSource);
	    			x.setAttribute("class", 'full');
	    			elmnt.appendChild(x);
	    			var list = item.getElementsByClassName("red live-tile flip ha")[2];

	    			var list_out = list.getElementsByClassName("flip-front ha")[0];



	    			list.setAttribute("data-mode", "flip");
	    			list_out.replaceChild(elmnt, list_out.childNodes[0]);
	    			<!--document.getElementById("dem5").innerHTML=pickRandomImage;-->
	    			flag3 = 0;
	    			createImageSource = '';
	    		}


	    	}, 6995);

	    	setInterval(function() {


	    		if (flag4 == 0) {
	    			do {
	    				var pickRandomImage = Math.floor((Math.random() * 7) + 1);

	    				if (elementDiv.indexOf(pickRandomImage) == -1) {

	    					elementDiv[3] = pickRandomImage;
	    					count++;


	    				}

	    			}
	    			while (count != 1);
	    			count = 0;

	    			createImageSource = "images/" + pickRandomImage + ".png";
	    			var elmnt = document.createElement("div");

	    			var x = document.createElement("IMG");
	    			x.setAttribute("src", createImageSource);
	    			x.setAttribute("class", 'full');
	    			elmnt.appendChild(x);
	    			var list = item.getElementsByClassName("red live-tile flip ha")[3];

	    			var list_out = list.getElementsByClassName("flip-back ha")[0];



	    			list.setAttribute("data-mode", "flip");
	    			list_out.replaceChild(elmnt, list_out.childNodes[0]);



	    			flag4 = 1;
	    			createImageSource = '';
	    		} else {
	    			do {
	    				var pickRandomImage = Math.floor((Math.random() * 7) + 1);

	    				if (elementDiv.indexOf(pickRandomImage) == -1) {

	    					elementDiv[3] = pickRandomImage;
	    					count++;


	    				}

	    			}
	    			while (count != 1);
	    			count = 0;




	    			createImageSource = "images/" + pickRandomImage + ".png";

	    			var elmnt = document.createElement("div");

	    			var x = document.createElement("IMG");
	    			x.setAttribute("src", createImageSource);
	    			x.setAttribute("class", 'full');
	    			elmnt.appendChild(x);
	    			var list = item.getElementsByClassName("red live-tile flip ha")[3];

	    			var list_out = list.getElementsByClassName("flip-front ha")[0];



	    			list.setAttribute("data-mode", "flip");
	    			list_out.replaceChild(elmnt, list_out.childNodes[0]);
	    			flag4 = 0;
	    			createImageSource = '';

	    		}


	    	}, 10995);



	    	setInterval(function() {


	    		if (flag5 == 0) {
	    			do {
	    				var pickRandomImage = Math.floor((Math.random() * 7) + 1);

	    				if (elementDiv.indexOf(pickRandomImage) == -1) {

	    					elementDiv[4] = pickRandomImage;
	    					count++;


	    				}

	    			}
	    			while (count != 1);
	    			count = 0;
	    			createImageSource = "images/" + pickRandomImage + ".png";

	    			var elmnt = document.createElement("div");

	    			var x = document.createElement("IMG");
	    			x.setAttribute("src", createImageSource);
	    			x.setAttribute("class", 'full');
	    			elmnt.appendChild(x);
	    			var list = item.getElementsByClassName("red live-tile flip ha")[4];

	    			var list_out = list.getElementsByClassName("flip-back ha")[0];



	    			list.setAttribute("data-mode", "flip");
	    			list_out.replaceChild(elmnt, list_out.childNodes[0]);




	    			flag5 = 1;
	    			createImageSource = '';
	    		} else {
	    			do {
	    				var pickRandomImage = Math.floor((Math.random() * 7) + 1);

	    				if (elementDiv.indexOf(pickRandomImage) == -1) {

	    					elementDiv[4] = pickRandomImage;
	    					count++;



	    				}

	    			}
	    			while (count != 1);
	    			count = 0;

	    			createImageSource = "images/" + pickRandomImage + ".png";

	    			var elmnt = document.createElement("div");

	    			var x = document.createElement("IMG");
	    			x.setAttribute("src", createImageSource);
	    			x.setAttribute("class", 'full');
	    			elmnt.appendChild(x);
	    			var list = item.getElementsByClassName("red live-tile flip ha")[4];

	    			var list_out = list.getElementsByClassName("flip-front ha")[0];



	    			list.setAttribute("data-mode", "flip");
	    			list_out.replaceChild(elmnt, list_out.childNodes[0]);




	    			flag5 = 0;
	    			createImageSource = '';
	    		}


	    	}, 7995);




	    	setInterval(function() {

	    		if (flag6 == 0) {
	    			do {
	    				var pickRandomImage = Math.floor((Math.random() * 7) + 1);

	    				if (elementDiv.indexOf(pickRandomImage) == -1) {

	    					elementDiv[5] = pickRandomImage;
	    					count++;


	    				}

	    			}
	    			while (count != 1);
	    			count = 0;

	    			createImageSource = "images/" + pickRandomImage + ".png";

	    			var elmnt = document.createElement("div");

	    			var x = document.createElement("IMG");
	    			x.setAttribute("src", createImageSource);
	    			x.setAttribute("class", 'full');
	    			elmnt.appendChild(x);
	    			var list = item.getElementsByClassName("red live-tile flip ha")[5];

	    			var list_out = list.getElementsByClassName("flip-back ha")[0];



	    			list.setAttribute("data-mode", "flip");
	    			list_out.replaceChild(elmnt, list_out.childNodes[0]);


	    			flag6 = 1;
	    		} else {

	    			do {
	    				var pickRandomImage = Math.floor((Math.random() * 7) + 1);

	    				if (elementDiv.indexOf(pickRandomImage) == -1) {

	    					elementDiv[5] = pickRandomImage;
	    					count++;


	    				}

	    			}
	    			while (count != 1);
	    			count = 0;


	    			createImageSource = "images/" + pickRandomImage + ".png";

	    			var elmnt = document.createElement("div");

	    			var x = document.createElement("IMG");
	    			x.setAttribute("src", createImageSource);
	    			x.setAttribute("class", 'full');
	    			elmnt.appendChild(x);
	    			var list = item.getElementsByClassName("red live-tile flip ha")[5];

	    			var list_out = list.getElementsByClassName("flip-front ha")[0];



	    			list.setAttribute("data-mode", "flip");
	    			list_out.replaceChild(elmnt, list_out.childNodes[0]);


	    			flag6 = 0;
	    			createImageSource = "";
	    		}


	    	}, 8995);

	    </script>

	    <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
	    <script type="text/javascript" src="js/global.js"></script>
	    <script type="text/javascript" src="js/jquery.fatNav.min.js"></script>
	    <script type="text/javascript" src="js/main.js"></script>
	   	<!-- <div class="logo_left">
		   		<span onClick="go_on('index.html')">
		    	<img src="images/top_logo_sticky.png" alt="top-logo-sticky" style="width: 175px;">
		    </span>
		</div> --> 
		<div class="language_switcher custom_switcher">
			<span class="en_switcher" id="en" >EN</span> <span class="vertical_line">|</span>
			<span onClick="go_on('nl')" id="nl" class="nl nl_switcher" >NL</span>
		</div>






		<!-- <script type="text/javascript" src="https://nextparticle.nextco.de/nextparticle.min.js"></script>   -->
		<script type="text/javascript" src="js/nextparticle.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				nextParticle = document.all.logo.nextParticle;
				nextParticle.width = window.innerWidth;
				nextParticle.height = window.innerHeight;

				window.onresize = function() {
					nextParticle.width = window.innerWidth;
					nextParticle.height = window.innerHeight;
					nextParticle.start();
				};
			});
		</script> 



	</body>
	</html>