<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
        ng\:form {
            display: block;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Biglyft - Netherlands | Project: MS Outlet - Check our recent works</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <link type="images/favicon" href="images/favicon.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="css/styles.css" media="all">
    <link rel="stylesheet" href="css/custom.css" media="all">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <!--<script type="text/javascript" src="js/analytics.js"></script>
<script type="text/javascript" src="js/head_scripts.js"></script>-->
    <script type="text/javascript" src="js/scripts.js"></script>
    <link rel="stylesheet" href="css/jquery.fatNav.min.css">
    <!--<script type="text/javascript" src="js/settings.js"></script>-->
    <link rel="stylesheet" href="queryLoader.css" type="text/css">
    <!-----end BIGLYFT------>
    <script type="text/javascript" src="queryLoader.js"></script>

    <body class="loaded" data-ng-app="teamgeek" data-ng-class="{ loaded: appLoaded }" data-ng-strict-di="">
        <script type="text/javascript" async src="js/ga.js"></script>
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', '']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

            function trackExternal(link, prefix) {
                try {
                    if (typeof prefix == "undefined" || prefix == null)
                        prefix = "";
                    var href = link.href.replace(/(http)(s)?:\/\/(www\.)?/i, "/outgoing/" + prefix);
                    _gaq.push(['_trackPageview', href]);
                } catch (err) {}
            }
        </script>
        <script type="text/javascript" src="js/modernizr-2.5.3.js"></script>
        <script type="text/javascript">
            window.MetroJsVersion = '0.9.77';
        </script>
        <script type="text/javascript" async src="js/embed.js"></script>
		
		<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?4ntf2UzC0P663qAShvC1UWapjtIAUkpl";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
<div class="callbackbtn">
    <a href="tel:+31 6 4410 1988"><i class="fa fa-phone"></i></a>
</div>

<!-- Google Analytics -->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-72356531-1', 'auto');
	  ga('send', 'pageview');

	</script>
		
</head>

<body class="loaded" data-ng-app="partha" data-ng-class="{ loaded: appLoaded }" data-ng-strict-di="">
    <div class="relative_scroll" onscroll="myFunction()">
        <script>
            QueryLoader.selectorPreload = "body";
            QueryLoader.init();
$('.QOverlay').css('visibility','hidden');
 var mq = window.matchMedia( "(min-width: 500px)" );
       if (!mq.matches) {
            $('.QOverlay').css('visibility','hidden');
			}
        </script>
        <div class="fat-nav" >
        <div class="fat-nav__wrapper" id="menu_outer">
            <ul>
            	<li style="background:none;"><a href="/"><img src="images/top_logo.png" alt="top-logo"></a></li>
                <li><a href="/">HOME</a></li>
                <li><a href="work.html">WORK</a></li>
                <li><a href="services.html">SERVICES</a></li>
               <!-- <li><a href="#">Blog</a></li>-->
                <li><a href="people.html">PEOPLE</a></li>
                <li><a href="contact.html">CONTACT</a></li>
            </ul>
        </div>
         <div class="social-links">
        		<div class="all_social_links">
                    <a class="social-link facebook" target="_blank" href="https://www.facebook.com/BigLyft"></a>
				<!--	<a class="social-link gplus" target="_blank" href="https://google.com/+Ekubus"></a> -->
                    <a class="social-link twitter" target="_blank" href="https://twitter.com/BigLyft"></a>
                </div>
            </div>

            <div class="footer">
                <p>© 2018 BIGLYFT | KvK Amsterdam - 61529761</p>
            </div>
    </div>
    </div>
    <header></header>
    <div id="main">
        <div data-tg-navbar-container="">
            <aside>
                <div data-is-collapsed="true" class="navbar collapsed" data-ng-class="{ 'collapsed': collapsed }">
                </div>
            </aside>

            <div id="resizable-container" class="case-study msoutlet">
                <tg-case-study-navbar data-current-project="msoutlet">
                    <div class="case-study-navbar">
                        <ul class="nav">
                            <li>
                                <a href="project_excellancer.html" data-ng-href="project_excellancer.html" title="excellancer">
                                    <i class="fa fa-chevron-left"></i>
                                </a>
                            </li>
                            <li>
                                <a href="work.html" title="Work">
                                    <i class="fa fa-th"></i>
                                </a>
                            </li>
                            <li>
                                <a href="project_athenahair.html" data-ng-href="project_athenahair.html" title="athenahair">
                                    <i class="fa fa-chevron-right"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </tg-case-study-navbar>

                <section class="hero">
                    <div class="emblem">
                        <div class="emblem-inner">
                            <div class="viewport">
                                <img src="images/logo_ms-outlet.png" alt="logo-msooutlet" class="img-responsive">
                            </div>
                        </div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="content">
                                        <p>
											Ms-Outlet is a Germany based company. 
                                            <br>They are a reseller of Microsoft products.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <div class="desktop-preview">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="content">
                                <div class="call-to-action">
                                        <p>
                                            They needed a digital store for downloading Microsoft products with
											<br>option of shipping the product as well.
                                        </p>
                                        
                                  </div>
                                <img class="img-responsive" src="images/iphone_ms-outlet.png" alt="iphone-ms-outlet">
                                   
                                    <div class="call-to-action">
                                        <p>
											The entire website is custom developed and crafted with care to provide a 
											<br>top notch user experience on all devices.
										</p>

                                        <a target="_blank" href="https://www.ms-outlet.com/" class="btn btn-orange">Visit Website</a>
                                      
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="desktop-preview">
				<div class="scroll-icon2"></div>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="content">
                                <!--
								<div class="call-to-action">
                                        <p>
                                            Buy EIGHT or more posters from GymPosters.com and receive a 30% off discount. Apply coupon code GYM30 at checkout!
                                        </p>
                                        
                                  </div>
								 --> 
                                <img class="img-responsive" src="images/tab_frame_ms-outlet.png" alt="tab-frame-ms-outlet">
                                   
                                    <div class="call-to-action">
                                        <p>
											Apart from Payment gateway, front-end and admin panel, we also took 
											<br>care of the call to action to drive up their sales.
										</p>
										<p>&nbsp; </p>
                                        
                                      <div class="scroll-icon2"></div>
                                  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="desktop-preview"> 
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="content">
                                    <tg-mac-slider data-images="['images/mac2.jpg']">
                                        <div class="viewport">
                                            <div class="screen">
                                                <div data-interval="5000" data-wrap="true" ng-mouseenter="pause()" ng-mouseleave="play()" class="carousel" ng-swipe-right="prev()" ng-swipe-left="next()">
                                                    <ol class="carousel-indicators ng-hide" ng-show="slides.length &gt; 1">
                                                        <!-- ngRepeat: slide in slides track by $index -->
                                                        <li class="active" ng-repeat="slide in slides track by $index" ng-class="{active: isActive(slide)}" ng-click="select(slide)"></li>
                                                        <!-- end ngRepeat: slide in slides track by $index -->
                                                    </ol>
                                                    <div class="carousel-inner" ng-transclude="">
                                                        <!-- ngRepeat: slide in slides -->
                                                        <div data-ng-repeat="slide in slides" data-active="slide.active" ng-class="{
															'active': leaving || (active &amp;&amp; !entering),
															'prev': (next || active) &amp;&amp; direction=='prev',
															'next': (next || active) &amp;&amp; direction=='next',
															'right': direction=='prev',
															'left': direction=='next'
														  }" class="item text-center active" ng-transclude="">
                                                            <img src="images/mac_ms-outlet.jpg" alt="mac-eeva" class="img-responsive" data-ng-src="images/mac_ms-outlet.jpg">
                                                        </div>
                                                        <!-- end ngRepeat: slide in slides -->
                                                    </div>
                                                    <a class="left carousel-control ng-hide" ng-click="prev()" ng-show="slides.length &gt; 1"><span class="glyphicon glyphicon-chevron-left"></span></a>
                                                    <a class="right carousel-control ng-hide" ng-click="next()" ng-show="slides.length &gt; 1"><span class="glyphicon glyphicon-chevron-right"></span></a>
                                                </div>
                                            </div>
                                            <img src="images/macbook-frame.png" alt="macbook-frame" data-ng-src="images/macbook-frame.png" class="img-responsive">
                                        </div>
                                    </tg-mac-slider>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
   <footer style="margin-top:1%;">

 <div class="social-links">
        		<div class="all_social_links">
                    <a class="social-link facebook" target="_blank" href="https://www.facebook.com/BigLyft"></a>
				<!--	<a class="social-link gplus" target="_blank" href="https://google.com/+Ekubus"></a> -->
                    <a class="social-link twitter" target="_blank" href="https://twitter.com/BigLyft"></a>
                    
                </div>
            </div>
								<!--	<h5> <a href="http://www.biglyft.com/nl/voorwaarden" target="_blank">Algemene Voorwaarden</a></h5> </br>-->
                                    <!--footer--------------------->
                      <style>
                     
                      </style>
              <div class="footerdiv">
                <ul class="footerul">
                <li class="footerli"><span onClick="go_on('index.html')">Home</span></li>
				<li class="footerli" > | </li>
                <li class="footerli"><span onClick="go_on('work.html')">Work</span></li>
				<li class="footerli" > | </li>
                <li class="footerli"><span onClick="go_on('services.html')">Services</span></li>
				<li class="footerli" > | </li>
          <!--  <li  class="footerli"><span onClick="go_on('blog')">Blog</span></li> -->
                <li class="footerli"><span onClick="go_on('people.html')">People</span></li>
				<li class="footerli" > | </li>
                <li class="footerli"><span onClick="go_on('contact.html')">Contact</span></li>
			<!--	<li class="footerli" > | </li>
             <li class="footerli"><span onClick="window.open('voorwaarden.html', '_blank')">Voorwaarden</span></li> -->
                </ul>
               </div>
            <!--                
            <div class="footer" style="padding-bottom:0px;">
                <p>© 2016 BIGLYFT | KvK Amsterdam - 61529761</p>
            </div>
            -->                        
			<!--footer---------------------->	
    </footer><style>

          </style>
		  <script>
   
   $( document ).ready(function() {
    $('#nl').addClass('active');
    });
	</script>
    <script type="text/javascript" src="js/jquery.mousewheel.min.js"></script>
    <script type="text/javascript" src="js/global.js"></script>
    <script type="text/javascript" src="js/jquery.fatNav.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
 <div class="language_switcher custom_switcher">
    <span onClick="go_on('nl')" id="nl" class="active en_switcher">EN </span><span class="vertical_line"> |</span>
   <a href="../nl/project_ms-outlet.html" id="en" class="nl_switcher">NL </a>
</div> 
<script>
function go_on(link_data)
		{
			window.location=link_data;
		}
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-72356531-1', 'auto');
  ga('send', 'pageview');

</script>
</body>

</html>
